
.products {
    width: 100vw;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-gap: 25px;
    // grid-auto-rows: minmax(100px, auto);
    width: 800px;
    margin: 0 auto;
}

#product-img{
    width: 200px;
    padding: 25px;
}

.product-info {
    height: 300px;
    width: 250px;
}

.inner-product-cont{
    padding: 25px;
    min-width: 980px;
}

//////SEARCH BAR 

.search {
    box-shadow: 0 0 10px 10px rgba(73, 69, 69, 0.249);
    width: 75%;
    height: 100px;
    margin: 0 auto;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
}


.search-container > input {
    padding: 5px 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
}