
.products {
    width: 100vw;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-gap: 25px;
    // grid-auto-rows: minmax(100px, auto);
    width: 800px;
    margin: 0 auto;
}

#product-img{
    width: 200px;
    padding: 25px;
}

.product-info {
    height: 300px;
    width: 250px;
}

.inner-product-cont{
    padding: 25px;
    min-width: 980px;
}

//////SEARCH BAR 

.search {
    // width: 15vw;
    // position: sticky;
    // top: 30px;
    // margin: 20px 10px;
    // float: right;
    // height: 80vh;
    box-shadow: 0 0 10px 10px rgba(73, 69, 69, 0.249);
}


.search-container > input {
    width: 40%;
    padding: 5px 35px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}