.nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}
.menu {
    color:red;
}

#logo {
    color:blue;
    padding: 25px;
}